body {
  margin: 0;
  font-size: 22px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gap-20px {
  gap: 20px;
}

.wide-container {
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

header {
  justify-content: space-between;
  color: #F4F4EF;
  background-color: #20232A;
}

ul {
  list-style-type: none;
}

#main-banner {
  background-image: url('images/main-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  text-align: center;
  height: 1000px;
  color: white;
}

#main-banner h1 {
  font-size: 100px;
}

hr {
  width: 100%
}

#main-banner p {
  font-size: 30px;
}

